/* 
    Document   : layout
    Created on : 30 Oct, 2012, 5:38:44 PM
    Author     : praveen
    Description:
        Purpose of the stylesheet follows.
*/

.section {
    border: 1px solid #555;                
    margin: 5px;
} 
.sec_header {
    font-size: 14px;
    font-weight: bold;
    color: #fff; background: #333; padding: 10px
}

table thead {
    background: #777;
    color: #fff;
    font-weight: bold
}


#content-wrap {
    width: 80%;
    margin: 0 auto
}

